footer {
	display: flex;
	flex-direction: column;
	background-color: white;
}

footer > section {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
}

footer a {
	text-decoration: underline;
	color: var(--primary);
}

#email {
	width: 100%;
	font-size: var(--font-medium);
}

footer > section p {
	text-align: center;
}

footer > section p:not(:first-child) {
	margin-top: 1em;
}

.icon-card > *:not(:last-child) {
	padding-right: var(--spacing-small);
}

@media screen and (min-width: 715px) {
	#email {
		font-size: var(--font-large);
	}
}
