* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Optima, Platino, Raanana, Baskerville, "Malayalam MN", sans-serif;

	--primary: rgb(0, 33, 88);
	--primary-light: rgb(10, 80, 133);
	--secondary: rgba(156, 40, 43, 1);
	--grey: rgba(0, 0, 0, .1);
	--white: white;

	--font-small: .75em;
	--font-medium: 1em;
	--font-large: 1.5em;
	--font-xlarge: 2em;

	--spacing-small: .5em;
	--spacing-medium: 1em;
	--spacing-large: 1.5em;
	--spacing-xlarge: 2em;
}

.hidden {
	visibility: hidden;
}

body {
	background-color: var(--secondary);
}

.flex {
	display: flex;
	flex-direction: column;
}

.flex.flex-column { flex-direction: column; }
.flex.flex-row { flex-direction: row; }
.flex.align-center { align-items: center; }
.flex.justify-center { justify-content: center; }

.normalized-a {
	text-decoration: none;
	color: inherit;
}

.bold {
	font-weight: bold;
}

.quote {
	width: 85%;
	color: var(--white);
}

.quote::before,
.quote::after {
	content: '\201F';
	font-size: 3em;
}

.quote::after {
	transform: rotateZ(180deg);
}

/* clickable font-awesome icons */
.fa.clickable {
	cursor: pointer;
	padding: var(--spacing-small);
	transition-property: background-color;
	transition-duration: .3s;
	border-radius: 50%;
}

.fa.clickable:active {
	background-color: var(--grey);
}

@media screen and (min-width: 715px) {
	.flex {
		flex-direction: row;
	}
}
