* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--primary: rgba(0, 33, 88, 1);
	--secondary: rgba(213, 44, 31, 1);
	--grey: rgba(0, 0, 0, .1);

	--font-small: .75em;
	--font-medium: 1em;
	--font-large: 1.5em;
	--font-xlarge: 2em;

	--spacing-small: .5em;
	--spacing-medium: 1em;
	--spacing-large: 1.5em;
	--spacing-xlarge: 2em;
}

.hidden {
	visibility: hidden;
}

body {
	background-color: white;
}

.flex {
	display: flex;
	flex-direction: column;
}

.flex.flex-column { flex-direction: column; }
.flex.flex-row { flex-direction: row; }
.flex.align-center { align-items: center; }
.flex.justify-center { justify-content: center; }

.normalized-a {
	text-decoration: none;
	color: black;
}

.bold {
	font-weight: bold;
}

/* change cursor to pointer for all font-awesome icons */
.fa.pointer {
	cursor: pointer;
}

@media screen and (min-width: 600px) {
	.flex {
		flex-direction: row;
	}
}
