.stack > * { margin-top: var(--spacing-medium); }
.stack-small > * { margin-top: var(--spacing-small); }
.stack-large > * { margin-top: var(--spacing-large); }

.padding { padding: var(--spacing-medium); }
.padding-small { padding: var(--spacing-small); }
.padding-large { padding: var(--spacing-large); }

.font-small { font-size: var(--font-small); }
.font-medium { font-size: var(--font-medium); }
.font-large { font-size: var(--font-large); }
.font-xlarge { font-size: var(--font-xlarge); }
