footer > section:not(:first-child) {
	width: 80%;
	margin: 0 auto;
}

footer {
	display: flex;
	flex-direction: column;
}

footer > section {
	padding: 1em;
}

footer > section:nth-child(2n + 1) {
	background-color: var(--primary);
	color: white;
}

footer > section:nth-child(2n) {
	/* background-color: var(--grey); */
	color: black;
}

footer > section p {
	text-align: center;
}

footer > section p:not(:first-child) {
	margin-top: 1em;
	text-align: center;
}

#email {
	font-size: var(--font-large);
}
