* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--primary: rgba(0, 33, 88, 1);
	--secondary: rgba(213, 44, 31, 1);
	--grey: rgba(0, 0, 0, .1);
}

.hidden {
	visibility: hidden;
}

body {
	background-color: white;
}

.flex {
	display: flex;
	flex-direction: column;
}

.flex.flex-column { flex-direction: column; }
.flex.flex-row { flex-direction: row; }
.flex.align-center { align-items: center; }
.flex.justify-center { justify-content: center; }

.normalized-a {
	text-decoration: none;
	color: black;
}

.bold {
	font-weight: bold;
}

@media screen and (min-width: 475px) {
	.flex {
		flex-direction: row;
	}
}
