.section {
	padding: 1rem;
	background-color: white;
}

.section:nth-child(2n) {
	background-color: var(--grey);
}

/* .section:nth-child(4n),
.section:nth-child(4n) .title {
	background-color: var(--primary);
	color: white;
} */

.section .title,
.section .subtitle {
	font-weight: bold;
}

.section .title {
	font-size: 1.5rem;
	text-align: center;
	color: var(--primary);
}

.section .subtitle {
	font-size: 1.3rem;
}

.section .content,
.section .subcontent {
	line-height: 1.5rem;
}

.section .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	margin: 0 auto;
	padding: 1rem 0.5rem;
}

.section .subsection {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.section .subsection.center {
	justify-content: center;
	align-items: center;
}

.section .logo {
	height: 250px;
	width: 250px;
}

.donation-item {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
	min-width: 200px;
	max-width: 95%;
	text-align: center;
	padding: 1em;
}

.donation-item-img {
	width: 100%;
}

.donation-item figcaption {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 850px) {
	.section .title {
		font-size: 2.5rem;
	}
	.section .content {
		font-size: 1.2em;
		padding: 1rem 2rem;
	}

	.section .content.narrow,
	.section .content.quote {
		width: 75%;
	}

	.section .subsection {
		flex-basis: 33%;
		padding: 1rem 2rem;
	}

	.section .subsection-large {
		flex-basis: 50%;
	}

	.section .logo {
		height: 390px;
		width: 390px;
	}
}
